<h1>Edit Still</h1>

<%= form_for(@still, multipart: true) do |f| %>

  <div class="field">
    <%= f.label :movie_id %>
    <%= f.select(:movie_id, Movie.all.collect {|movie| [ movie.title_year_director, movie.id ] }, {:include_blank => 'Please Select Movie'})  %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field" id="image">
    <%= f.label :upload_different_image %>
    <%= f.file_field :image %>
  </div>

  <div id="target">
    <img src="<%= @still.image.url(:medium) %>" alt="" />
  </div>

  <div class="field">
    <label for="still-tags">Tags</label>
    <textarea id="still-tags" name="tags" rows="8" cols="40"><% @still.tags.each { |tag| %><%= "#" + tag.tag + " " %><% } %></textarea>
  </div>


  <div class="actions">
    <%= f.submit 'Submit Changes' %>
    <%= link_to 'Cancel', root_url, class: 'button' %>
  </div>
<% end %>

<%= link_to "Return to homepage", root_url %>

<script type="text/javascript">

$(function() {
  $('#image').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image(300);
      img.src = file.target.result;
      $('#target').html(img);
    }
    reader.readAsDataURL(image);
  });
});
</script>
