<%= form_for(@still, multipart: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit 'Make a still' %>
    <%= link_to 'Nevermind', stills_path, class: 'button' %>
  </div>
<% end %>
