<h1><%= @still.name %></h1>

<%= image_tag @still.image.url, class: "show-image" %>
<br>
<%= link_to "Edit Still", edit_still_url %>
<%= button_to "Delete Still", still_url, :method => :delete %>
<p>
  <% @still.list_tags.each do |tag| %>
    <%= link_to tag, tag_url(params.merge({:query => tag})) %> &nbsp
  <% end %>
</p>
