<h1><%= @still.name %></h1>

<%= image_tag @still.image.url, class: "show-image" %>
<br>
<%= link_to "Edit Still", edit_still_url %>
<p>
  <% @still.list_tags.each do |tag| %>
  <form action="<%= search_url %>" method="get">
    <input type="hidden" name="query" id="search" value="<%= tag %>">
    <button><%= tag %></button>
  </form>
  <% end %>
</p>
