<form>
  {{errorMessage}}
{{input
  type="text"
  placeholder="title..."
  value=model.title
}}

{{input
  type="text"
  placeholder="director..."
  value=model.director
}}

{{input
  type="number"
  placeholder="year"
  value=model.year
}}

<!-- {{view 'select' content=genres value=model.genre prompt="Please select a genre"}} -->

<button {{action 'create'}}>Submit</button>
<button {{action 'cancel'}}>Cancel</button>
</form>
