<form class="film-add__form">
  <div class="film-add-form__errors">
    <div class="film-add-form__error">
      {{#each submissionDisplayErrors as |error|}}
        <span>{{if isValidated error.detail}}</span>
      {{/each}}
    </div>
  </div>

  <div class="film-add-form__input">
    {{input
      type="text"
      placeholder="title..."
      allowClear=true
      onchange=(action (mut title))
      value=title}}

    <div class="film-add-form__error">
      {{if isValidated errors.title}}
    </div>
  </div>

  <div class="film-add-form__input">
    {{input
      type="text"
      onchange=(action (mut director))
      placeholder="director..."
      value=director}}

      <div class="film-add-form__error">
        {{if isValidated errors.director}}
      </div>
  </div>

  <div class="film-add-form__input">
    {{input
      type="text"
      onchange=(action (mut directorOfPhotography))
      placeholder="director of photography..."
      value=directorOfPhotography}}

      <div class="film-add-form__error">
        {{if isValidated errors.directorOfPhotography}}
      </div>
  </div>

  <div class="film-add-form__input">
    {{input
      type="number"
      onchange=(action (mut year))
      placeholder="year"
      value=year}}

    <div class="film-add-form__error">
      {{if isValidated errors.year}}
    </div>
  </div>

  <div class="film-add-form__input">
    {{input
      type="text"
      onchange=(action (mut decade))
      placeholder="decade..."
      value=decade}}

      <div class="film-add-form__error">
        {{if isValidated errors.decade}}
      </div>
  </div>

  <div class="film-add-form__input">
    {{input
      type="text"
      onchange=(action (mut aspectRatio))
      placeholder="aspect ratio..."
      value=aspectRatio}}

      <div class="film-add-form__error">
        {{if isValidated errors.aspectRatio}}
      </div>
  </div>

  <div class="film-add-form__input">
    {{#power-select
      options=genres
      onchange=(action (mut genre))
      selected=genre
      placeholder="Please Select Genre"
      searchEnabled=false as |genre|}}
      {{genre}}
    {{/power-select}}

    <div class="film-add-form__error">
      {{if isValidated errors.genre}}
    </div>
  </div>

  <div class="film-add-form__actions">
    <button class="film-add-form-actions__create" {{action 'create'}}>Submit</button>
    <button class="film-add-form-actions__cancel" {{action 'cancel'}}>Cancel</button>
  </div>
</form>
