  <div class="page-side-panel group {{displaySidePanel}}">
    {{component "side-panel-navigation"
      toggleSidePanel=(action "openSidePanel")
      closeSidePanel=(action "closeSidePanel")}}
  </div>

<div class="page-wrapper">
  <header class="main-header">
    <div class="main-header__navigation group">
        <i class="fa fa-bars" {{action "openSidePanel"}}></i>
        {{#link-to "dashboard.index" class="main-header-navigation__link"}}
          <img src="https://dl.dropboxusercontent.com/u/22258339/GSH_logo.png">
        {{/link-to}}

        {{#if session.isAuthenticated}}
          <a class="main-header-navigation__link" {{action 'logout'}}>
            Logout
          </a>
        {{else}}
          <a class="main-header-navigation__link" href="/login">
            Log In
          </a>
        {{/if}}
    </div>

    <div class="main-header__search">
      {{search-form
        class="main-header-search__input"
        search=(action "searchStills")}}
    </div>
  </header>

  <div class="main-content">
    {{outlet}}
  </div>

  <footer class="main-footer">
    <p class="main-footer__copyright">
      Good Still Hunting &#169;2015
    </p>
  </footer>
</div>
