<div class="still-add-form">
  <div class="still-add-form__errors">
    <div class="still-add-form__error">
      {{#each submissionDisplayErrors as |error|}}
        <span>{{if isValidated error.detail}}</span>
      {{/each}}
    </div>
  </div>

  <div class="still-add-form__input">
    {{#power-select
      options=movies
      onchange=(action (mut movie))
      searchField="title"
      allowClear=true
      selected=movie
      renderInPlace=true
      placeholder="add movie..."
      searchPlaceholder="type movie name..." as |movie|}}

      {{movie.title}}
    {{/power-select}}

    <div class="still-add-form__error">
      {{if isValidated errors.movie}}
    </div>
  </div>

  <div class="still-add-form__input">
    {{input type="text"
      placeholder="add name..."
      onchange=(action (mut name))
      value=name}}

    <div class="still-add-form__error">
      {{if isValidated errors.name}}
    </div>
  </div>

  <div class="still-add-form__add-file">
    <button class="still-add-form__upload-button" {{action "getFile"}}>
      upload image
    </button>

    <div class="still-add-form__upfile">
      <input id="upfile" type="file" value="upload" {{action  'fileInputChange' on='change'}}/>
    </div>

    <div class="still-add-form__error">
      {{if isValidated errors.image}}
    </div>
  </div>

  <div class="stil-add-form__input">
    <div class="
      still-add-form__preview
      {{if showPreview "still-add-form__preview--show"}}">

      <img class="still-add-form__image" src="">
    </div>
  </div>


  <div class="still-add-form__input">
    {{#power-select
      multiple=true
      onchange=(action "addTag")
      options=createdTags
      renderInPlace=true
      search=(action "searchTags")
      placeholder="type tags..."
      selected=tags as |tag|}}
      {{#if tag.createTag}}
        <span> Create {{tagQuery}}? </span>
      {{else}}
        <span> {{tag.tag}} </span>
      {{/if}}
    {{else}}
      Sorry, No Tags Found.
    {{/power-select}}
    <div class="still-add-form__error">
      {{if isValidated errors.tags}}
    </div>
  </div>

  <div class="still-add-form__actions">
    <button class="still-add-form-actions__create" {{action 'onCreate'}}>Submit</button>
    <button class="still-add-form-actions__cancel" {{action 'onCancel'}}>Cancel</button>
  </div>
</div>
