<div class="still-add-form">
  <div class="still-add-form__errors">
    <div class="still-add-form__error">
      {{#each submissionDisplayErrors as |error|}}
        <span>{{if isValidated error.detail}}</span>
      {{/each}}
    </div>
  </div>

  <div class="stil-add-form__input">
    <div class="
      still-add-form__preview
      {{if showPreview "still-add-form__preview--show"}}">

      <img class="still-add-form__image" src="">
    </div>
  </div>


  <div class="still-add-form__input">
    {{#power-select
      multiple=true
      onchange=(action "addTag")
      options=startTags
      renderInPlace=true
      search=(action "searchTags")
      placeholder="type tags..."
      selected=tags as |tag|}}
      {{#if tag.createTag}}
        <span> Create {{tagQuery}}? </span>
      {{else}}
        <span> {{tag.tag}} </span>
      {{/if}}
    {{/power-select}}
    <div class="still-add-form__error">
      {{if isValidated errors.tags}}
    </div>
  </div>
</div>
