<form>
  {{errorMessage}}

  <label>Movie:
    {{#power-select
      options=movies
      onchange=(action (mut title))
      searchPlaceholder="Type Movie Name"
      as |movie|
    }}
      {{movie.title}}
    {{/power-select}}
  </label>

  <label>Name:
    {{input
      type="text"
      placeholder="name..."
      value=model.name}}
  </label>

  <label>Image:<input type="file" {{action  'fileInputChange' on='change'}}></label>
  <img src="">

  <label>Tags:
    {{textarea
      value=textTags
      cols="50"
      rows="10"}}
  </label>

  <button {{action 'onCreate'}}>Submit</button>
  <button {{action 'onCancel'}}>Cancel</button>
</form>
