<section class="stills-list__items group">
  {{#each stills as |still|}}
    <div class="stills-list-items__still" {{action "openStillSoloModal" still}}>
        <img src="{{still.medium_image_url}}"/>
    </div>
  {{/each}}

  {{#if endOfList}}
    <div class="
      stills-list-items__still
      stills-list-items__still--end">

      <article>No More Stills, Bro...</article>
    </div>
  {{/if}}
</section>



<span {{action 'onLoadNext'}} class='load-button'></span>

{{#if isLoading}}
  <div class="spinner-modal">
    {{ember-spinner
      lines=12
      radius=10
      width=5
      rotate=0
      speed='3.4'
      zIndex='5000'
      color='orange'}}
  </div>
{{/if}}

{{#if stillFormOpen}}
  <div class="still-solo-modal group">
    {{#link-to 'dashboard.stills.still' stillSoloSelected.id}}
      <img class="still-solo-modal__image" src="{{stillSoloSelected.large_image_url}}"/>
    {{/link-to}}

    <div class="still-solo-modal__info">
      <span class="still-solo-modal__exit" {{action "closeStillSoloModal"}}>X</span>
      <div class="still-solo-modal__wrapper">

        <h2 class='still-solo-modal-info__title'>{{stillSoloSelected.movie.title}} {{stillSoloSelected.name}}</h2>

        <div class="still-solo-modal-info__tags">
          {{#each stillSoloSelected.tags as |tag|}}
            {{#link-to 'dashboard.tags.tag' tag.id}}{{tag.tag}}{{/link-to}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
