<!DOCTYPE html>
<html>
<head>
  <title>GoodStillHunting</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= include_ember_script_tags :frontend %>
  <%= include_ember_stylesheet_tags :frontend %>
  <%= csrf_meta_tags %>
</head>
<body>
</body>
</html>
